{% extends "Nav_Bar.html" %}
{% block content %}
<div class="formhead">
		<p>Investment Information</p>
     </div>
<form class="subform"
     method = "POST" enctype=multipart/form-data action="{{url_for( 'InvestmentInfoForm' )}}">
        {{ form.csrf_token }}
        <div class="input">
              {{form.DocumentType.label}}
              {{form.DocumentType}}
              {{form.InvestmentNum.label}}
              {{form.InvestmentNum}}
              {{form.DocumentNumber.label}}
              {{form.DocumentNumber}}
              {{form.DocumentName.label}}
              {{form.DocumentName}}
              {{form.IssueDate.label}}
              {{form.IssueDate}}
              <br>
        </div>
              {{form.Attachment.label}}
              <br>
              {{ form.Attachment }}

        <div class = "input">
              <br>
              {{ form.Submit }}
              <br>
              {{ form.Modify }}
        </div>

    </form>
    {% endblock content %}
